    // global styles for <a> and <p> tags
    $govuk-global-styles: true;
    // We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
    $govuk-assets-path: '/govuk/assets/';
    // Import GOV.UK Frontend and any extension styles if extensions have been configured
    @import "lib/extensions/extensions";
    // Patterns that aren't in Frontend
    @import "patterns/step-by-step-header";
    @import "patterns/step-by-step-nav";
    @import "patterns/step-by-step-related";
    @import "patterns/task-list";
    @import "patterns/related-items";
    // Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
    .govuk-width-container {
        // max-width: 1366px;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .grid-parent {
        display: -ms-grid;
        display: grid;
        // IE prefixes
        -ms-grid-columns: 5fr 20fr;
        -ms-grid-rows: 1fr;
        grid-template-columns: 5fr 20fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .first-grid-col {
        -ms-grid-column: 1;
        padding-right: 2rem;
    }
    
    .second-grid-col {
        -ms-grid-column: 2;
    }
    
    .blueLeftBorder {
        border-left: 0.4rem #1d70b8 solid;
        margin-right: 0.8rem;
        padding: inherit;
    }
    
    .sideNavSpacer li {
        padding: 0.2rem 0rem;
    }
    
    .sideNavSpacer li a {
        padding-left: 0.2rem 0rem;
    }
    
    .filter-pill-blue {
        color: #5694ca;
        background-color: #ffffff;
        border: 1px solid #5694ca;
        border-radius: 4px;
        padding: 0.2em 0.4em;
    }
    
    a.filter-pill-red {
        color: #ffffff;
        background-color: #d4351c;
        border-radius: 4px;
        padding: 0.2em 0.4em;
    }
    
    // Custom Table columns
    .col-one-twelfth {
        width: 8.333%;
    }
    
    .col-two-twelfth {
        width: 16.666%;
    }
    
    .col-three-twelfth {
        width: 25%;
    }
    
    //  ///////      CARET
    .caret {
        position: relative;
    }
    
    .caret:before {
        content: '';
        position: absolute;
        top: 30%;
        left: 50%;
        border-top: 8px solid #000000;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
    
    .caret:after {
        content: '';
        position: absolute;
        left: 13px;
        top: 0;
        border-top: -5px solid #fff;
        border-left: -5px solid transparent;
        border-right: -5px solid transparent;
    }