{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Reval Defence Tool - Workflows</h1>
        <p class="govuk-body">Prototypes related to the RDT workflow listed below:
        </p>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/property_groups_dir_1">Create a property
          group</a>
            </li>
            <li>
                <a class="govuk-link" href="/stage_2_flow_start">Filter results and
          enter comments</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Stage 3 Workflow</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Stage 4 Workflow</a>
            </li>
        </ul>
    </div>
</div> {% endblock %}