<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} Confirm push value to CDB {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/matrix_hereditaments">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Confirm push value to CDB</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <!-- <div class="grid-parent"> -->
                    <!-- <div>
                        <p>View Type</p>
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-!-font-weight-bold" href="/properties_landing">Properties</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/rentals_landing">Rentals</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div> -->
                    <div>
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>You are about to push the addresses listed below to CDB</strong>
                        </div>
                        <p>56 Roman Rd, Leeds, LS2 8ZE</p>
                        <p>12 Grand Arcade, Leeds, LS1 6PG</p>
                        <p>18 Grand Arcade, Leeds, LS1 6PG</p>
                        <p>78 Jones Road, Leeds, LS2 8ZE</p>
                        <p>34 Grand Arcade, Leeds, LS1 6PG</p>
                        <p>51 Grand Arcade, Leeds, LS1 6PG</p>
                        <form action="/matrix_hereditaments_cdb_push_ok_banner">
                            <div class="govuk-button-group">
                                <button class="govuk-button" data-module="govuk-button">Push to CDB</button>
                                <a class="govuk-link" href="/matrix_hereditaments">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> end of grid parent -->
            </div>
        </main>
    </div> {% endblock %} </body>

</html>