<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} Matrices in property group {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Matrices in property group</h1>
                </div>
            </div>

            <div class="grid-parent">
                <div class="first-grid-col govuk-!-padding-right-2">
                    <!-- Start of nav -->
                    <h2 class="govuk-heading-m">Power BI view</h2>
                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-19">
                        <!-- <li class="blueLeftBorder govuk-!-padding-left-2">
                            <a class="govuk-link" href="/properties_landing_tabs">Properties</a>
                            <ul class="govuk-list govuk-list==spaced govuk-!-font-size-16  govuk-!-margin-left-2">
                                <li><a class="govuk-link" href="properties_powerbi_table.html">- Properties table view</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="govuk-link" href="/rentals_landing_tabs">Rentals</a>
                            <ul class="govuk-list govuk-list==spaced govuk-!-font-size-16  govuk-!-margin-left-2">
                                <li><a class="govuk-link" href="rentals_powerbi_table.html">- Rentals table view</a></li>
                            </ul>
                        </li> -->
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Property group overview</a>
                        </li>
                        <!-- <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_power_bi">Current list RV vs Reval List RV</a>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_power_bi_2">2017 Matrix value vs Analysed rent</a>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_power_bi_3">Rateable value ratios</a>
                        </li> -->
                    </ul>
                    <div>
                        <h2 class="govuk-heading-m">Matrices</h2>
                        <ul class="govuk-list govuk-!-font-size-19">
                            <a class="govuk-link govuk-link--no-visited-state" href="/matrices_landing">Matrices</a>
                        </ul>
                    </div>
                    <!-- End of Nav -->
                </div>
                <div class="second-grid-col">
                    <table class="govuk-table govuk-!-font-size-16">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Matrix ref</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">No of hereditaments</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">&nbsp;</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">&nbsp;</th>
                                <!-- <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">&nbsp;</th>
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">&nbsp;</th> -->
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Matrix_AAA_1111</td>
                                <td class="govuk-table__cell">Rooted above a tundra</td>
                                <td class="govuk-table__cell">99</td>
                                <td class="govuk-table__cell">Open</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_hereditaments">View hereditaments</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_rents">View rents</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Matrix_XXX_2222</td>
                                <td class="govuk-table__cell">Formed next to a geyser field</td>
                                <td class="govuk-table__cell">99</td>
                                <td class="govuk-table__cell">Closed</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_hereditaments">View hereditaments</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_rents">View rents</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Matrix_QQQ_9999</td>
                                <td class="govuk-table__cell">Headed towards a harsh future</td>
                                <td class="govuk-table__cell">99</td>
                                <td class="govuk-table__cell">Closed</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_hereditaments">View hereditaments</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_rents">View rents</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Matrix_GGG_1234</td>
                                <td class="govuk-table__cell">Ventarco is home to goblins</td>
                                <td class="govuk-table__cell">99</td>
                                <td class="govuk-table__cell">Open</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_hereditaments">View hereditaments</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_rents">View rents</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Matrix_ZZZ_0000</td>
                                <td class="govuk-table__cell">Dark wooden rooftops, lavastone walls</td>
                                <td class="govuk-table__cell">99</td>
                                <td class="govuk-table__cell">Open</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_hereditaments">View hereditaments</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/matrix_rents">View rents</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> end of grid parent -->

        </main>
    </div>{% endblock %}
</body>

</html>