<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} QA Re-open matrix {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/matrix_rents">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Are you sure you want to Attach this rent(s)?</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <!-- <div class="grid-parent"> -->
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>You will be in big trouble if this is wrong.</strong>
                    </div>
                    <div>
                        <div>
                            <p class="govuk-heading-s">Address</p>
                            <p class="govuk-!-font-size-24">40 Roman Rd, Leeds, LS2 8ZE</p>
                        </div>
                        <div>
                            <p class="govuk-heading-s">to</p>
                            <p class="govuk-!-font-size-24">Matrix_AAA_1111</p>
                        </div>
                        <div>
                        </div>
                        <form action="matrix_rents_attach_success">
                            <div class="govuk-button-group">
                                <button class="govuk-button" data-module="govuk-button">Attach rent to matrix</button>
                                <a class="govuk-link" href="matrix_rents">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> end of grid parent -->
            </div>
        </main>
    </div> {% endblock %} </body>

</html>