<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} Add value to addresses {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/matrix_hereditaments">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Unable to value to Hereditaments</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <!-- <div class="grid-parent"> -->
                    <!-- <div>
                        <p>View Type</p>
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-!-font-weight-bold" href="/properties_landing">Properties</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/rentals_landing">Rentals</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div> -->
                    <div>
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>You cannot add values to the addresses listed below</strong>
                        </div>
                        <p>40 Roman Rd, Leeds, LS2 8ZE</p>
                        <p>38 Charlotte Square North, Leeds, LS1 2NY</p>
                        <p>83 Albion Street, Leeds, LS1 5AP</p>
                        <form>
                            <div class="govuk-button-group">
                                <button formaction="/matrix_hereditaments" class="govuk-button" data-module="govuk-button">Remove addresses</button>
                                <!-- <a class="govuk-link" href="/matrix_hereditaments">Cancel</a> -->
                            </div>
                        </form>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> end of grid parent -->
            </div>
        </main>
    </div> {% endblock %} </body>

</html>