<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} Industrials in Leeds: Overview {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">Industrials in Leeds: Overview</h1>
                </div>
            </div>

            <div class="grid-parent">
                <div class="first-grid-col">
                    <!-- Start of nav -->
                    <h2 class="govuk-heading-s">Summary</h2>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-19 govuk-!-margin-top-3 sideNavSpacer">
                        <li>
                            <span class="blueLeftBorder"></span>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Property group overview</a>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/matrices_landing_tabs">Matrices overview</a>
                        </li>
                    </ul>
                    <h2 class="govuk-heading-s">Analysis</h2>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-19 govuk-!-margin-top-3 sideNavSpacer">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/rentals_landing_tabs">Rental evidence</a>
                        </li>
                    </ul>
                    <form action="">
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/matrices_landing">Start valuation</button>
                    </form>
                    <!-- End of Nav -->
                </div>
                <div class="second-grid-col">
                    <form action="">
                        <div class="govuk-button-group">
                            <button class="govuk-button" data-module="govuk-button" formaction="/filters">Filter property group</button>
                            <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/matrices_landing">Start valuation</button> -->
                            <!-- <a class="govuk-link govuk-link--no-visited-state" href="properties_powerbi_table.html">View Power BI table</a> -->
                        </div>
                    </form>
                    <p class="govuk-body-s govuk-!-display-inline">Filters Selected: </p>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Street x </strong></p>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Age x </strong></p>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-blue govuk-!-margin-right-2"><strong>Rent value x </strong></p>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-font-size-14 filter-pill-red govuk-!-margin-right-2"><strong><a class="filter-pill-red" href="properties_landing_tabs">Clear all filters x </a></strong></p>
                    <!---------- START OF TABS ----------->
                    <div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">Contents</h2>
                        <ul class="govuk-tabs__list">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#properties-dash">Overview</a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#properties-map">Map: Properties</a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#mixed-map">Map:Properties & Rental Evidence</a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#mixed-table">Table: Assessment Data & Rental Evidence</a>
                            </li>
                        </ul>
                        <div class="govuk-tabs__panel" id="properties-dash">
                            <h2 class="govuk-heading-l">Overview</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-dash.png">
                        </div>
                        <div class="govuk-tabs__panel" id="properties-map">
                            <h2 class="govuk-heading-l">Properties</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-props.jpg">
                        </div>
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mixed-map">
                            <h2 class="govuk-heading-l">Properties & Rentals</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-mixmap.jpg">
                        </div>
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mixed-table">
                            <h2 class="govuk-heading-l">Assessment Data & Rental Evidence</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-table.jpg">
                        </div>
                    </div>
                    <!---------- END OF TABS ----------->
                </div>
            </div>
            <!-- </div> end of grid parent -->

        </main>
    </div>{% endblock %}
</body>

</html>