<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} Master Property Groups {% endblock %} {% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Master Property Groups </h1>
            <form action="property_group_list">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Desription</th>
                            <th class="govuk-table__header" scope="col">Last updated</th>
                            <th class="govuk-table__header" scope="col">Status</th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                            <th class="govuk-table__header" scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body" id="insertNewRow">
                        <tr class="govuk-table__row">
                            <!-- <td class="govuk-table__cell">{{ data['passRowDescription'] }}</td> -->
                            <!-- <td class="govuk-table__cell">{{ data['groupDescription'] }}</td> -->
                            <td class="govuk-table__cell">Industrials in Leeds</td>
                            <td class="govuk-table__cell"><span class="lastUpdateTime"></span></td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Retrieving data</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Open</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="property_group_refresh">Refresh</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="qa_start">QA</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_summary">Edit</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_delete">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- <td class="govuk-table__cell">{{ data['passRowDescription'] }}</td> -->
                            <!-- <td class="govuk-table__cell">{{ data['groupDescription'] }}</td> -->
                            <td class="govuk-table__cell">Offices in Leeds city centre</td>
                            <td class="govuk-table__cell"><span class="lastUpdateTime"></span></td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Retrieving data</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Open</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="property_group_refresh">Refresh</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="qa_start">QA</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_summary">Edit</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_delete">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- <td class="govuk-table__cell">{{ data['passRowDescription'] }}</td> -->
                            <!-- <td class="govuk-table__cell">{{ data['groupDescription'] }}</td> -->
                            <td class="govuk-table__cell">Offices in North Leeds</td>
                            <td class="govuk-table__cell"><span class="lastUpdateTime"></span></td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Ready</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Open</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="property_group_refresh">Refresh</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="qa_start">QA</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_summary">Edit</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_delete">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- <td class="govuk-table__cell">{{ data['passRowDescription'] }}</td> -->
                            <!-- <td class="govuk-table__cell">{{ data['groupDescription'] }}</td> -->
                            <td class="govuk-table__cell">Offices in South Leeds</td>
                            <td class="govuk-table__cell"><span class="lastUpdateTime"></span></td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Ready</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Open</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="property_group_refresh">Refresh</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="qa_start">QA</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_summary">Edit</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="/property_group_delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="govuk-button" data-module="govuk-button">Create property group</button>
            </form>
        </div>
    </div>{% endblock %}
</body>

</html>