<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} Property group: Power BI 3 {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Property group Power BI report Type 3</h1>
                </div>
            </div>
            <div class="grid-parent">
                <div>
                    <h2 class="govuk-heading-m">PBI Reports</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a class="govuk-link" href="/properties_landing">Properties</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/rentals_landing">Rentals</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi">PBI tbc 1</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi_2">PBI tbc 2</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi_3">PBI tbc 3</a>
                        </li>
                    </ul>
                    <div>
                        <h2 class="govuk-heading-m">Matrices</h2>
                        <ul class="govuk-list">

                            <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>

                    <p class="govuk-body-s govuk-!-display-inline">Filters Selected: </p>
                    <p class="govuk-body-s govuk-!-display-inline">None</p>
                    <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-bins.jpg ">

                </div>
                <!-- </div> end of grid parent -->
            </div>
        </main>
        {% endblock %} </body>

</html>