<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} Matrix saved to CDB {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/qa_start">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <!-- <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Confirmed: Matrix saved to CDB</h1>
                </div> -->
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            Matrix saved to CDB
                        </h3>
                        <!-- <p class="govuk-body">You have created an evidence file in Power BI, sent supporting rent file & URL to CDB and can now sign-off.</p> -->
                    </div>
                </div>
                <div>
                    <h1 class="govuk-heading-xl">Do you want to save an evidence file?</h1>
                    <p>Reference: Matrix_AAA_1111</p>
                    <p>Description: Some industrials around the city centre</p>
                </div>
                <form action="qa_push_evidence_confirm.html">
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                        <a class="govuk-link" href="qa_start">Cancel</a>
                    </div>
                </form>
            </div>

        </main>
    </div> {% endblock %} </body>

</html>