<!DOCTYPE html>
<html>

<head>
    <title>QA Start</title>
</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} QA: Matrix_QQQ_9999 {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/qa_start">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">QA: Matrix_QQQ_9999 </h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="grid-parent">
                    <div class="first-grid-col">
                        <p>View Type</p>
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link" href="/properties_landing">Properties</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-!-font-weight-bold" href="/rentals_landing">Rentals</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                        <div>
                            <p>PBI Reports</p>
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link govuk-!-font-weight-bold" href="/properties_landing_power_bi">PBI Report 1</a>
                                </li>
                                <li>
                                    <a class="govuk-link" href="/properties_landing_power_bi_2">PBI Report 2</a>
                                </li>
                                <li>
                                    <a class="govuk-link" href="/properties_landing_power_bi_3">PBI report 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="second-grid-col">
                        <form action="/filters">
                            <div class="govuk-button-group">
                                <button class="govuk-button" data-module="govuk-button">Show Filters</button>
                                <a class="govuk-link" href="qa_powerbi_table">View Power BI table</a>
                            </div>
                        </form>
                        <p class="govuk-body-s govuk-!-display-inline">Filters Selected: </p>
                        <p class="govuk-body-s govuk-!-display-inline">None</p>
                        <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-rentals.jpg">
                    </div>
                </div>
                <!-- </div> end of grid parent -->
            </div>
        </main>
    </div>{% endblock %}
</body>

</html>