<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} QA Start {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Matrix QA List</h1>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-warning-text govuk-grid-column-one-half govuk-!-padding-right-3">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>The number of properties in the property group may not equate to the number being valued by the matrix on CDB.
                        </strong>
                </div>
                <div class="govuk-warning-text govuk-grid-column-one-half  govuk-!-padding-right-3">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>'Upload to CDB' - creates evidence file in PowerBI and uploads supporting rent file & URL to matrix in CDB. ***NOTE***(Can we check this message is now relevant with new controls/links in place)
                        </strong>
                </div>
            </div>

    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- <div class="grid-parent"> -->
            <!-- <div>
                        <p>View Type</p>
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-!-font-weight-bold" href="/properties_landing">Properties</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/rentals_landing">Rentals</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div> -->
            <div>

                <!----------------------- Start of table ------------------------------->

                <table class="govuk-table govuk-!-font-size-16">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Reval matrix ref</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Description</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Num of prop in prop group</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Number valued</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Number failed</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Status</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">&nbsp;</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">&nbsp;</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Matrix_AAA_1111</td>
                            <td class="govuk-table__cell">Rooted above a tundra</td>
                            <td class="govuk-table__cell">17</td>
                            <td class="govuk-table__cell">10</td>
                            <td class="govuk-table__cell">7</td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--green">Open</strong>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_comment">Add QA remark</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_landing_tabs">View charts</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_push_matrix_confirm">Upload to CDB</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Matrix_XXX_2222</td>
                            <td class="govuk-table__cell">Formed next to a geyser field</td>
                            <td class="govuk-table__cell">24</td>
                            <td class="govuk-table__cell">15</td>
                            <td class="govuk-table__cell">9</td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rents Uploaded</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/#">Re-open</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_push_evidence_success">Save evidence file</a>
                            </td>
                            <td class="govuk-table__cell">
                                &nbsp;
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Matrix_QQQ_9999</td>
                            <td class="govuk-table__cell">Headed towards a harsh future</td>
                            <td class="govuk-table__cell">35</td>
                            <td class="govuk-table__cell">35</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Complete</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_reopen_matrix_confirm">Re-open</a>
                            </td>
                            <td class="govuk-table__cell">
                                &nbsp;
                            </td>
                            <td class="govuk-table__cell">
                                &nbsp;
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Matrix_GGG_1234</td>
                            <td class="govuk-table__cell">Ventarco is home to goblins</td>
                            <td class="govuk-table__cell">29</td>
                            <td class="govuk-table__cell">29</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Complete</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_reopen_matrix_confirm">Re-open</a>
                            </td>
                            <td class="govuk-table__cell">
                                &nbsp;
                            </td>
                            <td class="govuk-table__cell">
                                &nbsp;
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Matrix_ZZZ_0000</td>
                            <td class="govuk-table__cell">Dark wooden rooftops, lavastone walls</td>
                            <td class="govuk-table__cell">40</td>
                            <td class="govuk-table__cell">32</td>
                            <td class="govuk-table__cell">8</td>
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Open</strong></td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_comment">Add QA remark</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_landing_tabs">View charts</a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/qa_push_matrix_confirm">Upload to CDB</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- </div> -->
        <!-- </div> end of grid parent -->
        </main>
    </div> {% endblock %} </body>

</html>