<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>
		{% extends "layout.html" %} {% block pageTitle %} Upload matrice to CDB {% endblock %} {% block content %}
		<div class="govuk-width-container">
			<a class="govuk-back-link" href="/qa_start">Back</a>
			<main class="govuk-main-wrapper">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h1 class="govuk-heading-xl">Upload matrix to CDB Complete</h1>
						<p class="govuk-body-l">The warnings below should be fixed before next upload</p>
					</div>
				</div>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						<div>
							<!-- BANNER START -->
							<div class="moj-banner">
								<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
									<path
										d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
									C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"
									/>
								</svg>

								<div class="moj-banner__message">
									<span class="moj-banner__assistive">Warning</span>
									<p class="govuk-body govuk-!-font-weight-bold">
										FOR Number: <span class="govuk-body govuk-!-font-weight-bold">12081106285</span> —
										<span class="govuk-body govuk-!-font-weight-regular">CDB user initials not found for <span class="govuk-body govuk-!-font-weight-bold">PID 7906173</span> , defaulted to RSA_GEN. (2)</span>
									</p>
								</div>
							</div>
							<!-- BANNER START -->
							<div class="moj-banner">
								<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
									<path
										d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
									C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"
									/>
								</svg>

								<div class="moj-banner__message">
									<span class="moj-banner__assistive">Warning</span>
									<p class="govuk-body govuk-!-font-weight-bold">
										FOR Number: <span class="govuk-body govuk-!-font-weight-bold">12121402285</span> —
										<span class="govuk-body govuk-!-font-weight-regular">CDB user initials not found for <span class="govuk-body govuk-!-font-weight-bold">PID 7906173</span> , defaulted to RSA_GEN. (2)</span>
									</p>
								</div>
							</div>
							<!-- BANNER START -->
							<div class="moj-banner">
								<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
									<path
										d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
									C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"
									/>
								</svg>

								<div class="moj-banner__message">
									<span class="moj-banner__assistive">Warning</span>
									<p class="govuk-body govuk-!-font-weight-bold">
										FOR Number: <span class="govuk-body govuk-!-font-weight-bold">10766613593</span> —
										<span class="govuk-body govuk-!-font-weight-regular">CDB user initials not found for <span class="govuk-body govuk-!-font-weight-bold">PID 7906173</span> , defaulted to RSA_GEN. (2)</span>
									</p>
								</div>
							</div>
							<!-- BANNER START -->
							<div class="moj-banner">
								<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
									<path
										d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
									C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"
									/>
								</svg>

								<div class="moj-banner__message">
									<span class="moj-banner__assistive">Warning</span>
									<p class="govuk-body govuk-!-font-weight-bold">
										FOR Number: <span class="govuk-body govuk-!-font-weight-bold">11346504583</span> —
										<span class="govuk-body govuk-!-font-weight-regular">CDB user initials not found for <span class="govuk-body govuk-!-font-weight-bold">PID 7906173</span> , defaulted to RSA_GEN. (2)</span>
									</p>
								</div>
							</div>

							<form action="qa_push_matrix_success">
								<div class="govuk-button-group">
									<!-- <button class="govuk-button" data-module="govuk-button">Upload QA to CDB</button> -->
									<a class="govuk-link" href="qa_start">Return to QA</a>
								</div>
							</form>
						</div>
					</div>
					<!-- </div> -->
					<!-- </div> end of grid parent -->
				</div>
			</main>
		</div>
		{% endblock %}
	</body>
</html>
