<!DOCTYPE html>
<html>

<head>
    <title>QA Start</title>
</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Industrials in Leeds: Rentals</h1>
                </div>
            </div>

            <div class="grid-parent">
                <div class="first-grid-col">
                    <!-- Start of nav -->
                    <h2 class="govuk-heading-m">PBI Reports</h2>
                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-19">
                        <li>
                            <a class="govuk-link" href="/properties_landing">Properties map</a>
                            <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16  govuk-!-margin-left-2">
                                <li><a class="govuk-link" href="properties_powerbi_table.html">- Properties table view</a></li>
                            </ul>
                        </li>
                        <li class="blueLeftBorder govuk-!-padding-left-2">
                            <a class="govuk-link" href="/rentals_landing">Rentals map</a>
                            <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16  govuk-!-margin-left-2">
                                <li><a class="govuk-link" href="rentals_powerbi_table.html">- Rentals table view</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi">PBI tbc 1</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi_2">PBI tbc 2</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="/properties_landing_power_bi_3">PBI tbc 3</a>
                        </li>
                    </ul>
                    <div>
                        <h2 class="govuk-heading-m">Matrices</h2>
                        <ul class="govuk-list govuk-!-font-size-19">
                            <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End of Nav -->
                </div>
                <div class="second-grid-col">
                    <form action="/filters">
                        <div class="govuk-button-group">
                            <button class="govuk-button" data-module="govuk-button">Show Filters</button>
                            <!-- <a class="govuk-link" href="rentals_powerbi_table.html">View Power BI table</a> -->
                        </div>
                    </form>
                    <p class="govuk-body-s govuk-!-display-inline">Filters Selected: </p>
                    <p class="govuk-body-s govuk-!-display-inline">None</p>
                    <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-rentals.jpg">
                </div>
            </div>
            <!-- </div> end of grid parent -->

        </main>
    </div>{% endblock %}
</body>

</html>