<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body> {% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Industrials in Leeds: Properties</h1>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="grid-parent">
                    <div>
                        <p>View Type</p>
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-!-font-weight-bold" href="/properties_landing">Properties</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/rentals_landing">Rentals</a>
                            </li>
                            <li>
                                <a class="govuk-link" href="/matrices_landing">Matrices</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form action="/filters">
                            <div class="govuk-button-group">
                                <button class="govuk-button" data-module="govuk-button">Show Filters</button>
                                <a class="govuk-link" href="rentals_landing">View Power BI map</a>
                            </div>
                        </form>
                        <img alt="power bi dashboard " class="govuk-!-width-full" src="/public/images/power-bi-table.png">
                    </div>
                </div>
                <!-- </div> end of grid parent -->
            </div>
        </main>
    </div> {% endblock %} </body>

</html>