<!DOCTYPE html>
<html>

<head>
    <title>QA Start</title>
</head>

<body>
    {% extends "layout.html" %} {% block pageTitle %} Rental evidence details {% endblock %} {% block content %}
    <div class="govuk-width-container">
        <a class="govuk-back-link" href="/property_group_list">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">(Property group name): Rental evidence details</h1>
                </div>
            </div>
            <div class="grid-parent">
                <div class="first-grid-col">
                    <!-- Start of nav -->
                    <h2 class="govuk-heading-s">Data visualisations</h2>
                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-19">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/properties_landing_tabs">Overview</a>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/rentals_landing_tabs">Rental evidence details</a>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/matrices_landing_tabs">Matrix details</a>
                        </li>
                    </ul>

                    <div class="govuk-!-padding-top-2">
                        <h2 class="govuk-heading-s ">Matrices</h2>
                        <ul class="govuk-list govuk-!-font-size-19">
                            <a class="govuk-link govuk-link--no-visited-state" href="/matrices_landing">Add remarks and values</a>
                        </ul>
                    </div>
                    <!-- End of Nav -->
                </div>
                <div class="second-grid-col">
                    <form action="/filters">
                        <div class="govuk-button-group">
                            <button class="govuk-button" data-module="govuk-button">Show Filters</button>
                            <!-- <a class="govuk-link" href="properties_powerbi_table.html">View Power BI table</a> -->
                        </div>
                    </form>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-margin-bottom-2">Filters Selected:</p>
                    <p class="govuk-body-s govuk-!-display-inline govuk-!-margin-bottom-2">None</p>


                    <!---------- START OF TABS ----------->
                    <div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">Contents</h2>
                        <ul class="govuk-tabs__list">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#properties-dash">Overview</a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#rentals-chart-1">Chart: Current List RV vs Reval List RV</a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#rentals-chart-2">Chart: 2017 Matrix Value vs Analysed Rent</a>
                            </li>
                        </ul>
                        <div class="govuk-tabs__panel" id="properties-dash">
                            <h2 class="govuk-heading-l">Overview</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-dash.png">
                        </div>
                        <div class="govuk-tabs__panel" id="rentals-chart-1">
                            <h2 class="govuk-heading-l">Properties</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-uarn.jpg">
                        </div>
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="rentals-chart-2">
                            <h2 class="govuk-heading-l">Properties & Rentals</h2>
                            <img alt="power bi dashboard " class="govuk-!-width-full govuk-!-margin-top-3" src="/public/images/pbi-16-9-bar-chart.jpg">
                        </div>
                    </div>
                    <!---------- END OF TABS ----------->
                </div>
            </div>
            <!-- </div> end of grid parent -->
        </main>
    </div>{% endblock %}
</body>

</html>