{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block content %}

<!------------------- START OF MAIN CONTENT ---------------------->

<div class="custom-wrapper">

    <a class="govuk-back-link" href="/filters_prop_comments">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <!----------------- TOP SECTION ----------------->


        <h1 class="govuk-heading-xl">40 Roman Rd, Leeds, LS2 8ZE</h1>

        <div class="govuk-grid-row">

            <!--------------------- LEFT COLUMN ----------------------------->
            <div class="govuk-grid-column-one-third">

                <h3 class="govuk-heading-m">Property Attributes</h3>

                <ul class="govuk-list govuk-list--bullet">
                    <li>An attribute</li>
                    <li>Some other one</li>
                    <li>You get the idea</li>
                </ul>

                <h3 class="govuk-heading-m">Comments</h3>
                <p>I was just the other day updating my blogroll on my iPad 4 when I realised. I take a desert spoon full of Organic Blackstrap Molasses with hot water each day after exercice. The problem is that we're always competing instead of working
                    together.
                </p>


                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">Edit Comment</button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add price</button>
                    <div>
                        <a class="govuk-link" href="/properties_landing">Go back to property group</a>
                    </div>

                </div>


            </div>



            <!-------------------------- RIGHT COLUMN ------------------------->
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Street view anyone ????</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!4v1615391567474!6m8!1m7!1s0AEeUwc2fiNLCmNdYz0QJg!2m2!1d53.79608030640183!2d-1.540799916033714!3f288.7284!4f0!5f0.7820865974627469" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

    </main>




    </div>


    {% endblock %}